body {
    background-color: rgb(248,249,250);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b56e6e;
    color: white;
    text-align: center; 
}

.blueColor {
    color: blue;
}

.redColor {
    color: red;
}

.nav-item {
    margin-right: 30px;
}

.navbar-brand {
    padding-right: 50px;
}

.debug {
    border:1px solid red;
}

.container {
    display: contents;
}

#navbarNav > ul {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #b56e6e;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: block;
  position: relative;
  margin-bottom: 800px;
  width: auto;
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 100px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: fixed;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container  > .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadeSlide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  

