body {
    background-color: #FFF7F6;
}

.bg-light {
  background-color: #FFF7F6 !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b56e6e;
    color: white;
    text-align: center; 
    
}


.blackColor {
    color: black;
}

.blueColor {
    color: blue;
}

.redColor {
    color: red;
}

.pinkColor {
  color: #b56e6e;
}



.nav-item {
    margin-right: 30px;
   
}
.nav-item a {
  z-index: 500;
}

.navbar-brand {
    padding-right: 50px;
}



.debug {
    border:1px solid red;
}

.container {
    display: contents;
    padding-top: 20px;
}

#navbarNav > ul {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    /* padding-top: 50px; */
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #b56e6e;
}

* {box-sizing:border-box}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .social > a {
    text-decoration: none;
    color: white;
  }

  .container-fluid {
    background-color: #FFF7F6;
  }
 
.h1 {
 color: #717171;
 text-align: center;
 font-family: 'Brush Script MT, Brush Script Std', cursive;
}

li {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

}



.stray {
  padding: 25px;
  margin-top: 150px;
}

dt , dd {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.upefthinotita {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.plagioRoz {
  color: #b56e6e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adopth1 {
  text-align: center;
  color: #717171;
  font-family: Arial, Helvetica, sans-serif;
  
}

.content {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-left: 40px;
  
  
}

.content > dd > a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.content > dd > a:hover {
  color: #b56e6e;
}


  /* jssor slider loading skin spin css */
  .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.contact {
  
  position: relative; 
  padding: 15px;
  font-size: 1.3em;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*jssor slider bullet skin 132 css*/
.jssorb132 {position:absolute;}
.jssorb132 .i {position:absolute;cursor:pointer;}
.jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
.jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
.jssorb132 .i.idn {opacity:0.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}


.contactForm{
  width: fit-content;
}


.googlemap {
  position: relative;
  padding-bottom: 45%;  
  height: 0;
  overflow: hidden;
 
 

}

.googlemap iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 65% !important;
padding-top: 5%;
}


#spinner{
  display: none;
}

.catAnimated{
  position: fixed;
  bottom: 48px;

}

@media only screen and (max-width: 1130px) {
 
  .catAnimated img {
    width: 250px;
  }
}
/* @media only screen and (min-device-width: 1131px){

 } */


